<div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">¿Que es Habitaciones buen dia?</h2>
            <h5 class="description">Somos una pequeña empresa de renta de habitaciones para el estudiantado universitario</h5>
            <br>
            <a href="#paper-kit" class="btn btn-info btn-round">Mas detalles</a>
          </div>
        </div>
        <br/>
        <br/>
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="nc-icon nc-calendar-60"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Reservar</h4>
                <p class="description">Solo se puede reservar en un pequeño lapso de tiempo (3 dias max)</p>
                <a (click)="goReserva()" href="javascript:;" class="btn btn-link btn-info">Mas detalles</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="nc-icon nc-badge"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Rentar</h4>
                <p>Se brindan tres paquetes de renta</p>
                <a (click)="goRenta()" href="javascript:;" class="btn btn-link btn-info">Mas detalles</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="nc-icon nc-chart-bar-32"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Listado de Inquilinos</h4>
                <p>Se visualiza el listado de los inquilinos</p>
                <a href="javascript:;" class="btn btn-link btn-info">Mas detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
