<!-- main -->
<div class="main">
    <div class="section text-center">




        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title">Rentar</h1>
            </div>
        </div>




     

            <div class="row">
                <div class="col-md-7 ml-auto mr-auto">
                    <div class="tab-pane text-center" >
                        <div class="row">
                            <div class="col-md-12 ml-auto mr-auto">
                                <h2 class="text-left title">Rentas</h2>
                                <button (click)="crear()" type="button"
                                    class="btn btn-primary float-left">Agregar</button>
                                <br />
                                <br />
                            </div>
                        </div>
    
    
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripcion de la renta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let renta of ListaRentas">
                                    
                                    <th>{{renta.estudiante}}</th>
                                    <td>{{renta.tipoRenta}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" (click)="Editar(renta.id)">Editar</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" (click)="Eliminar(renta.id)">Eliminar</button>
                                    </td>
    
                                </tr>
    
                            </tbody>
                        </table>
    
                    </div>
    
                </div>
    
            </div>

           

       

    </div>
</div>





<!-- end main -->
